<div class="form-container">
  <%= form_with url: 'payslip', class: "form-content", method: :post do |form| %>

    <div class="input-field">
      <%= form.label :base_pay, style: "display: block" %><br/>
      <%= form.number_field :base_pay, step: 100 %>
    </div>

    <div class="input-field">
      <%= form.label :pf_in_percentage %><br/>
      <%= form.number_field :pf_in_percentage, step: 1, value: 10 %>
    </div>

    <div class="input-field">
      <%= form.label :laptop_loan_amount_per_month %> <br/>
      <%= form.number_field :laptop_loan_amount_per_month, step: 1, value: 0 %>
    </div>

    <div class="input-field">
      <%= form.label :advance_repayment %><br/>
      <%= form.number_field :advance_repayment, step: 1, value: 0 %>
    </div>

    <div class="input-field">
      <%= form.label :other_deductables %><br/>
      <%= form.number_field :other_deductables, step: 1, value: 0 %>
    </div>

    <div class="radio-box">
      <div>
        <%= form.radio_button :business_unit, :cpq, checked: "checked" %>
        <%= form.label :cpq %>
      </div>
      <div>
        <%= form.radio_button :business_unit, :app_lab %>
        <%= form.label :app_lab %>
      </div>
    </div>


    <%= form.submit "Generate", class:"submit-button"%>

    </div>
  <% end %>