<div class="form-container">
  <h1 class="heading-text">Generate your Payslip</h1>

  <%= form_with url: 'payslip', class: "form-content", method: :post do |form| %>

    <div class="input-field">
      <%= form.label :base_pay, style: "display: block" %><br/>
      <%= form.number_field :base_pay, step: 100, placeholder: 'Enter Base Pay' %>
    </div>

    <div class="input-field">
      <%= form.label :pf_in_percentage %><br/>
      <%= form.number_field :pf_in_percentage, step: 1, value: 10 %>
    </div>

    <div class="input-field">
      <%= form.label :laptop_loan_amount_per_month %> <br/>
      <%= form.number_field :laptop_loan_amount_per_month, step: 1, value: 0 %>
    </div>

    <div class="input-field">
      <%= form.label :advance_repayment %><br/>
      <%= form.number_field :advance_repayment, step: 1, value: 0 %>
    </div>

    <div class="input-field">
      <%= form.label :gym_repayment %><br/>
      <%= form.number_field :gym_repayment, step: 1, value: 0 %>
    </div>

    <div class="checkbox">
      <%= form.check_box :on_probation %>
      <%= form.label :pet_dog, "On Probation" %>
    </div>


    <%= form.submit "Generate", class:"submit-button" %>

    </div>
  <% end %>